* {
	margin: 0;
	padding: 0;
  text-align: center;
}

body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-weight: 200;
  color: #77624E;
  font-size: 42px;
  padding-top: 16px;
}

a {
  text-decoration: none;
	color: #B26F2E;
}

.banner {
	max-width: 100%;
	min-height: 100px;
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
}

.button {
	margin: 30px 6px;
	width: 140px;
	background: black;
	display: inline-block;
	color: #fff;
	font-family: HelveticaNeue;
	vertical-align: middle;
	padding: 10px 0;
}

.applemusic:hover {
	color: #676DF9;
}

.itunes:hover {
	color: #EC6ACB;
}

.spotify:hover {
	color: #1DD760;
}

.amazon:hover {
	color: #01BCF4;
}

.google:hover {
	color: #BCBCBC;
}

.youtube:hover {
	color: #FF0000;
}

.byline {
  font-weight: 500;
}

.content {
	position: relative;
	width: 800px;
	margin: 120px auto 120px;
  left: 10%;
}

.footer {
	font-size: 12px;
  font-weight: 400;
  color: #EBD3BC;
	line-height: 100px;
}

.social {
	height: 100px;
	align: center;
	fill: #ffeddd;
  margin-left: 20px;
  margin-right: 20px;
}

.social:hover {
	fill: #fff;
}

.one {
  background-color: #000;
  height: 100px;
  width: 100%;
}

.two {
  background-color: #3C3229;
  height: 100px;
  width: 100%;
}

.three {
  background-color: #564534;
  height: 100px;
  width: 100%;
}

.four {
  background-color: #77624E;
  height: 100px;
  width: 100%;
}

.five {
  background-color: #B2957B;
  height: 100px;
  width: 100%;
}

.six {
  background-color: #DBBC9E;
  height: 100px;
  width: 100%;
}

.seven {
  background-color: #EBD3BC;
  height: 100px;
  width: 100%;
}

.eight {
  background-color: #FFEDDD;
  height: 100px;
  width: 100%;
}

.nine {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.legal {
	text-align: left;
	font-weight: 200;
	font-size: 18px;
	line-height: 26px;
}
